In [2]:
import sys, pathlib
ROOT_DIR = '../'
SRC_DIR = ROOT_DIR

sys.path.append(str(SRC_DIR))


from src.data_processing import build_feature_pipeline
import pandas as pd
from sklearn.preprocessing import StandardScaler

# Load data
df = pd.read_csv('../data/raw/transactions.csv')

# Run custom feature pipeline
pipe = build_feature_pipeline()
agg = pipe.fit_transform(df)

# Separate CustomerId for later use
customer_ids = agg['CustomerId']
X = agg.drop(columns=['CustomerId'])

# Scale numeric features
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)
X_scaled_df = pd.DataFrame(X_scaled, columns=X.columns)
X_scaled_df['CustomerId'] = customer_ids  # join back if needed

# Save
X_scaled_df.to_csv('../data/processed/customer_features.csv', index=False)
X_scaled_df.head()

,Total_Amount,Avg_Amount,Std_Amount,Max_Amount,Min_Amount,Avg_Pos_Amount,Total_Refunds,Transaction_Count,CustomerId
0,-0.066891,-0.153364,NaN,-0.169081,-0.161532,-0.103030,-0.017562,-0.253459,CustomerId_1
1,-0.066891,-0.153364,NaN,-0.169081,-0.161532,-0.103030,-0.017562,-0.253459,CustomerId_10
2,-0.055849,-0.069870,-0.095362,-0.113497,-0.103274,-0.072850,-0.020360,-0.212186,CustomerId_1001
3,-0.061655,-0.091435,-0.151207,-0.137120,-0.045890,-0.100580,-0.023230,-0.150278,CustomerId_1002
4,-0.055849,-0.073846,-0.100282,-0.113497,-0.103274,-0.077082,-0.019893,-0.201868,CustomerId_1003

In [4]:
print(df.dtypes)

TransactionId            object
BatchId                  object
AccountId                object
SubscriptionId           object
CustomerId               object
CurrencyCode             object
CountryCode               int64
ProviderId               object
ProductId                object
ProductCategory          object
ChannelId                object
Amount                  float64
Value                     int64
TransactionStartTime     object
PricingStrategy           int64
FraudResult               int64
dtype: object